.header_app {
  height: 65px;
  background-color: var(--color-grey-0);
  width: 100%;
  overflow-y: inherit;
}
.header_app .navigation {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.header_app figure {
  margin: 0;
}
.header_app figure img {
  width: 50px;
  margin: 0;
}
.header_app .navigation_options {
  display: flex;
}
.header_app .navigation_options > div {
  margin: 0 6px;
}
.header_app .navigation_options > .icon_search,
.header_app .navigation_options > .icon_cart,
.header_app .navigation_options > .icon_exit {
  font-size: 24px;
  color: var(--color-grey-300);
  display: flex;
  align-items: center;
  justify-content: center;
}
